<div class="container">
  <h2>Your contacts JSON file</h1>
  <input type="file" on-read-file="showContent($fileContent)" />
  <div ng-if="content">
    <h3>File content is:</h2>
      <pre>{{ content }}</pre>
  </div>

  <h2>My contacts</h2>
  <table class="table table-striped">

  </table>
</div>

<table class="table table-striped"> 
	<thead> 
		<tr> 
			<th>#</th> 
			<th>First Name</th> 
			<th>Last Name</th> 
			<th>Street</th> 
			<th>City</th> 
			<th>Postcode</th> 
			<th>Edit</th> 
		</tr> 
	</thead> 
	<tbody> 
		<tr ng-repeat="x in contacts"> 
			<th scope="row">{{x.number}}</th> 
			<td>{{x.firstname}}</td> 
			<td>{{x.lastname}}</td> 
			<td>{{x.street}}</td> 
			<td>{{x.city}}</td> 
			<td>{{x.postcode}}</td> 
			<td>
				<a type="button" class="btn btn-primary btn-xs glyphicon glyphicon-pencil" href="#/edit/test"></a>
			</td> 
		</tr> 
	</tbody> 
</table>